.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("https://miro.medium.com/max/3840/1*avCvnQ1uPQf0RuRCdE_0Pw.png")
    repeat-x;
  height: 450px;
  width: 5076px;
  animation: slide 45s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
